input {
    -webkit-appearance: none !important;
}

#language {
    display: none !important;
}

nav {
    display: none !important;
}

body {
    width: 800px !important;
    /* to centre page on screen*/
    margin: 0 !important;
    padding: 0 !important;
    background-color: none !important;
}


.print-display-none {
    display: none !important;
}
.prbt{
    display: none !important;
}

#page {
    width: 100% !important;
}

#padding {
    padding: 0 !important;
}

footer {
    margin: 0 !important;
}

#forkme {
    display: none !important;
}